accelerate
blobfile
dill
fastapi==0.95.1
filelock
hydra-core
hydra-submitit-launcher==1.2.0
ipywidgets
llvmlite==0.43.0
matplotlib==3.6.3
mock
networkx
nltk
numba==0.60.0
numpy==1.26.4
openai==1.10.0
pandas
peft==0.13.1
protobuf==3.20.1
pytest
retry
scikit-fmm
scikit-image
sentence-transformers==2.7.0
tiktoken
tqdm>=4.0.0
transformers==4.46.2
trl==0.11.2
typing_extensions
uvicorn==0.22.0
wandb
